.content-image-split {
    display: flex;
    margin: 0 auto 60px;
    max-width: 80%;
}

.content-image-split.reversed-true {
    flex-direction: row-reverse;
}

.content-image-split__img-col {
    width: 50%;
}

.content-image-split__content-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 60px;
    width: 50%;
}

.content-image-split.reversed-true .content-image-split__content-col {
    padding: 0 60px 0 0;
}

.content-image-split__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.content-image-split__list {
    list-style-position: outside;
    margin: 0;
    padding-left: 15px;
}

@media (max-width: 768px) {
    .content-image-split {
        flex-direction: column;
    }

    .content-image-split.reversed-true {
        flex-direction: column;
    }

    .content-image-split__img-col {
        margin-bottom: 20px;
        width: 100%;
    }

    .content-image-split__content-col {
        padding: 0;
        width: 100%;
    }
}