@import './assets/styles/page_elements/element_home-hero.css';
@import './assets/styles/page_elements/element_card-row.css';
@import './assets/styles/page_elements/element_5050-content-image.css';
@import 'assets/styles/page_elements/element_itch-embed.css';
@import 'assets/styles/page_elements/element_youtube-video.css';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #231942;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

/* Headings & Paragraphs */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  margin-top: 0;

  font-family: "Cabin", serif;
  font-style: normal;
}

h1 {
  font-size: 70px;
  margin-bottom: 24px;
}

h2 {
  font-size: 40px;
  margin-bottom: 24px;
}

h3 {
  font-size: 25px;
  margin-bottom: 18px;
}

p {
  font-family: "Cabin", serif;
  font-style: normal;
  margin-top: 0;
}

li {
  font-family: "Cabin", serif;
  font-style: normal;
}

@media (max-width: 768px) {
  h1 {
    font-size: 50px;
    margin-bottom: 16px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 22px;
  }
}

/* Links */
a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
  transition: all 300ms cubic-bezier(0, .1, .33, .99);
}

a:hover {
  color: #76aee2;
}

a.full-card-click:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
}


/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/