.main-nav {
    position: relative;
    padding: 35px;
    z-index: 10;
}

.main-nav__site-logo {
    width: 100px;
}

.main-nav__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav__menu-desktop {

}

.main-nav__menu-mobile {
    display: none;
}

.main-nav__toggle {
    background-color: transparent;
    border: none;
    display: none;
}

.main-nav__nav-link {
    font-size: 18px;
    margin-left: 24px;
    width: fit-content;
}

@media (max-width: 992px) {
    .main-nav {
        padding: 20px;
    }

    .main-nav__site-logo {
        width: 75px;
    }

    .main-nav__menu-desktop {
        display: none;
    }

    .main-nav__menu-mobile {
        background-color: #231942;
        display: block;
        position: fixed;
        top: 106px;
        left: 0;
        right: 0;
        bottom: 0;
        transform: translate(100%);
        transition: all 0.3s ease-out;
        width: 100%;
    }

    .main-nav__toggle {
        display: block;
        font-size: 30px;
    }

    .main-nav__nav-link {
        display: block;
    }
}